/* --- main layout --- */
	
	* { margin: 0; padding: 0; }
	
	html, body {
		font-family:Arial, Helvetica, sans-serif; 
		font-size:medium; 
		color:#616161; 
		/*background:#fff url(../img/body-tail.gif) top repeat-x; */
		padding:0; 
		margin:0;
		height: 100%;
	}
	
	input.error {background:#FFFF00;}
	
	#center {text-align: center; direction: rtl;}
	
	#block {text-align: center; direction: rtl; padding-top: 15px; padding-bottom: 15px}
	
	#white {color:white;}
	#green {color:#7abf00;}

	a img,:link img,:visited img,fieldset {border:none;}
	img {vertical-align:top;}
	
	.clear {clear:both}
	.nowrp {white-space:nowrap;}
	.wrapper {width:100%; overflow:hidden;}

	/*div.top-bg {background:url(../img/body-bg.jpg) top right no-repeat;}*/
	/*.ui-page {background: url(../img/body-bg.jpg) top right no-repeat;}*/
	.ui-page {
		/* mobile and desktop targeted ui */
		background: transparent url(../img/body-bg.jpg) no-repeat center top;
		-moz-background-size:cover;
    	background-size:cover;
    	position: relative;
    	/* mobile ui, image stretch
		background: transparent url(../img/body-bg.jpg);
		background-attachment:fixed;
		background-repeat: no-repeat;
		background-size: 100%;*/
	}

	.ui-content {
		padding: 2px;
	}
	
/* --- END main layout --- */

/* --- header --- */

	#header {font-size:1.125em;}
	
	#logo {padding:11px 0 8px 0px; text-align:center;}
	.banners {text-align:center; padding:0 0 16px 0;}
	.banners img {margin-bottom:10px;}
	
	.home-tab {text-align:right; padding:33px 23px 0px 0; margin-bottom:-55px; position:relative;}
	.home-tab a {color:#616161; font-weight:bold;}
	/*	
	#breadcrumb {padding:14px 0 11px 24px; background:#76cddd; margin-bottom:12px;}
	#breadcrumb {padding:14px 0 11px 24px; text-align: center; background:#76cddd; margin-bottom:12px;}
	*/
	#breadcrumb {direction: rtl; padding:14px 0 11px 0; text-align: center; background:#76cddd; margin-bottom:6px;}
	#breadcrumb_happy {direction: rtl; padding:14px 0 11px 0; text-align: center; background:#76cddd url(../img/happy_kupi_head_vsmall.png) no-repeat top left; margin-bottom:6px;}
/* --- END header --- */

/* --- content --- */

	#content {font-size:1.063em; line-height:1.176em; font-weight:bold;}
	.min-width {padding:0px 20px 30px 25px; min-width:200px;}
	#content .home-tab {margin:0; padding:0px 21px 40px 0; font-size:1.059em;}

	li {list-style:none; margin-bottom:10px; clear:both; background:url(../img/marker2.gif) no-repeat 0 3px; padding-left:15px;}
	a {color:#7abf00;}
	
	#navmenu li {padding:0; background:none;}
	#navmenu .button {text-transform:uppercase; font-weight:bold; color:#3d3232; font-size:1.059em;}
	#navmenu .summary {padding:12px 0 11px 0;}
	
/* --- END content --- */

/* --- footer --- */
	/*
	#footer {height:109px; padding-left:24px; color:#ababab; font-size:1.125em; line-height:1.459em; background:url(../img/footer-bg.gif) top repeat-x; text-transform:uppercase;}
	#footer p { padding:1px 0 0 0;}
	#footer p a {color:#ababab;}
	*/
	
	p.size_small {font-size:small; }
	
	#footer {text-align: center; color:#ababab; font-size:0.8em; line-height:1.459em; top repeat-x; }
	#footer p { padding:1px 0 0 0;}
	#footer p a {color:#ababab;}
	
/* --- END footer --- */

/* --- Other --- */
	
	.f-left {float:left;}
	.f-right {float:right;}
	.taright {text-align:right;}
	p {padding-top:20px;}
	.margin1 {margin-top:20px;}
	.margin2 {margin-top:40px;}
	
	.link {display:inline-block; margin-top:20px;}
	h1 {
		color: #000000;
	}
	h2 {
		margin-bottom:20px;
	}
	h3.theme_title_text_color {
		color: #ffffff;	
	}
	
	#ContactForm input.numbers_1k {width:40px;}
	#ContactForm input.button {border:0px;background:none;}
	#ContactForm input , #ContactForm textarea {border:1px solid #f7e4a8; width:245px; padding-left:4px; background:#fcf6db; font-size:1em; line-height:2em; margin-bottom:8px; color:#8c8c8c;}
	#ContactForm input.error {background:#FFFF00;}
	#ContactForm textarea {height:80px;}
	#ContactForm textarea.error {background:#FFFF00;}
	#ContactForm .taright {width:250px;}
	#ContactForm button {background:none; border:none; width:93px; height:27px;}
	#ContactForm #clear {background:url(../img/form-clear.jpg) no-repeat 0 0;}
	#ContactForm #send {background:url(../img/form-send.jpg) no-repeat 0 0;}
	
	
/* --- END Other --- */

/* --- boxes --- */

.box {background:#ffd025; color:#917007; font-style:italic; margin:0 0 0 -10px; position:relative;}
.box .tail-top {background:url(../img/box-tail-top.png) top repeat-x;}
.box .tail-bottom {background:url(../img/box-tail-bottom.png) bottom repeat-x;}
.box .corner-right-bottom {background:url(../img/box-corener-right-bottom.png) right bottom no-repeat;}
.box .corner-left-bottom {background:url(../img/box-corener-left-bottom.png) left bottom no-repeat;}
.box .corner-right-top {background:url(../img/box-corener-right-top.png) right top no-repeat;}
.box .corner-left-top {background:url(../img/box-corener-left-top.png) left top no-repeat; width:100%;}
.box .indent {padding:20px 20px 30px 19px;}

div.error {color:#FF0000;}

/* --- END boxes --- */


/* --- CSS Loading SPinner boxes - thanks to 37signals */

div#loading {
	text-align: center;
}

div.spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}
   
div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
 from {opacity: 1;}
 to {opacity: 0.25;}
}

/* --- END */

/* ---- START ----- */
/* lwtCountdown css */
#countdown_dashboard {
	height: 66px;
	width: 304px;
	margin: auto;
	/*background: #053650 url('dashboard_bg.png') 0 0 no-repeat;*/
}

#countdown_dashboard2 {
	height: 66px;
	width: 304px;
	margin: auto;
	/*background: #053650 url('dashboard_bg.png') 0 0 no-repeat;*/
}

.digits {
	color: #333333;
	font: bold 16pt Verdana;
	font-weight: bold;
}

.digits span {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:medium;
	color:#616161;
}

.dash {
	width: 45px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 2px;
	padding-left: 23px;
	position: relative;
	color: #333333;
}
.dash .digit {
	font: bold 14pt Verdana;
	font-weight: bold;
	float: left;
	width: 20px;
	text-align: center;
	position: relative;
}

.dash_title {
	font-size: 8pt;
	display: block;
	text-align: left;
	padding-left: 3px;
	color: #333333;
}
/* ---- END ----- */

/* JQM mobile */

/* provides a background box */
.highlightBar{background:#fff;border:solid 1px #fff;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;padding:1px;margin:auto auto 5px auto;}
.highlightBar h1{font-size:22px;margin:.1em;text-shadow:none;color:#4d523f;font-weight:bold;padding-left:10px;}
.highlightBar .content{
	background:#99ccff;overflow:hidden;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;padding:1px;
}
.highlightBar .coupon{
	background:#fff000;overflow:hidden;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;padding:1px;
}
.highlightBar.red .content{background:none;background-color:#900;}
.highlightBar .content .buttonRight h1{float:left;}
.highlightBar .content .ui-btn-right{float:right;}
.highlightBar .ui-btn-inner{padding:0 10px 1px;}
.highlightBar .ui-btn{margin:1px 1px;}
.highlightBar .ui-btn-text{font-weight:bold;font-size:13px;}
/* end */